<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shotgun.css">
    <title>Document</title>
</head>

<body>
    <div class="nav_bar">
        <header class="d-flex align-items-center py-3 bg-light header">
            <div class="container">
                <nav class="navbar-expand-lg " action="/shotgun" method="post">
                    <div id="navbarNav">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Logo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/buy">Buy a Firearm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sell a Firearm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Value my Firearm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Get Your compentency</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/userProf">User Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register"><button type="button" class="btn btn-danger" href="/login">Login or
                                        Sign
                                        up</button></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    </div>
    <div class="header-img">
        <img src="\Assets\Image 25 (1).png" class="img-fluid" alt="...">
    </div>
    <div class=" box">
        <div class="heading">
            <div class="container text-center">
                <div class="row align-items-start">
                    <form action="/buy">
                        <div class="col">
                            <button type="submit" class="Handguns" value="Handguns">Handguns</button>
                        </div>
                    </form>
                    <form action="/rifle">
                        <div class="col">
                            <button type="submit" class="Hunting" value="Hunting Rifle">Hunting Rifle</button>
                        </div>
                    </form>
                    <form action="/shotgun">
                        <div class="col">
                            <button type="submit" class="Shotguns" value="Shotguns">Shotgun</button>
                        </div>
                    </form>
                    <form action="/semi">
                        <div class="col">
                            <button type="submit" class="Semi" value="Semi-Automatic">Semi-Automatic</button>
                        </div>
                    </form>
                </div>
                <div class="dropdown-header">
                    <div class="mb-3">
                        <div class="Variant">
                            <input type="text" name="Model" placeholder="Search Make, Model and Variant"
                                class="form-control" id="exampleInputPassword1">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="min">
                            <input type="text" name="minPrice" placeholder="Min Price" class="form-control"
                                id="exampleInputPassword1">
                        </div>
                    </div>
                    <div class="max">
                        <input type="text" name="minPrice" placeholder="Max Price" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="model">
                        <input type="text" name="model" placeholder="Make & Model" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                </div>
                <div class="searchFire">
                    <button style="background: #B61E10FF; border: 0;">Search</button>
                </div>
            </div>
            </form>
            <br>
            <div class="link">
            </div>
        </div>
    </div>
    <div class="new">
        <h1>New & Used Shotgun's For Sale</h1>
    </div>
    <div class="handgun-home">
        <h6>Home</h6>
    </div>
    <div class="box2">
        <div>
            <div class="year1">
                <h6>Year</h6>
            </div>
            <div class="min2">
                <input type="text" name="min" placeholder="Min" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <div class="max2">
            <input type="text" name="max" placeholder="Max" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="new-firearms">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Featured Firearms
                </label>
            </div>
        </div>
        <div class="used-firearms">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Used Firearms
                </label>
            </div>
        </div>
        <div class="brand">
            <input type="text" name="brand" placeholder="Brand" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="type">
            <input type="text" name="Handgun Type" placeholder="Handgun Type" class="form-control"
                id="exampleInputPassword1">
        </div>
        <div class="colours">
            <input type="text" name="Colours" placeholder="Colours" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="seller">
            <input type="text" name="Seller Type" placeholder="Seller Type" class="form-control"
                id="exampleInputPassword1">
        </div>
    </div>
    <div class="feature">
        <h3> FEATURE LISTINGS</h3>
    </div>
    <div class="premium">
        <h3> PREMIUM LISTING</h3>
    </div>
    <div class="box3">
        <div>

        </div>
    </div>
    <footer>
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col">
                    <div class="footer-logo">
                        Logo
                    </div>
                </div>
                <div class="col">
                    <div class="footer-Prod">
                        <h6>Product</h6>
                    </div>
                    <div class="footer-text">
                        <a href="#" style="color: black;">Features</a>
                        <br>
                        <a href="#" style="color: black;">Pricing</a>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-Res">
                        <h6>Recourses</h6>
                    </div>
                    <div class="footer-text">
                        <a href="#" style="color: black;">Blog</a>
                        <br>
                        <a href="#" style="color: black;">User Guides</a>
                        <br>
                        <a href="#" style="color: black;">Webinars</a>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-Com">
                        <h6>Community</h6>
                    </div>
                    <div class="footer-text">
                        <a href="#" style="color: black;">Developers</a>
                        <br>
                        <a href="#" style="color: black;">Users</a>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-Comp">
                        <h6>Company</h6>
                    </div>
                    <div class="footer-text">
                        <a href="#" style="color: black;">About</a>
                        <br>
                        <a href="#" style="color: black;">Join Us</a>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-Sup">
                        <h6>Support</h6>
                    </div>
                    <div class="footer-text">
                        <a href="#" style="color: black;">Help center</a>
                        <br>
                        <a href="#" style="color: black;">Chat Support</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row align-items-end">
                <div class="col">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"
                        style="float:left; margin-top: 55px; background-color: white; color: black;">
                        English
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="col">
                    <div class="text-size">
                        <div class="terms">2022 Brand,Inc,Privacy-Terms-Sitemap</div>
                    </div>
                </div>
                <div class="col">
                    One of three columns
                </div>
            </div>
        </div>
    </footer>
    <!-- <form action="/" method="post">
</form> -->
</body>
</body>

</html>