body {
    background-image: url("/Assets/Image 20 (3).png");
    top: 48px;
    left: 0px;
    width: 100%;
    height: 858px;
    /* neutral-800 */
    border-radius: 0px;
}

/* .nav_bar {
position: relative;
max-width: 110%;
height: 48px;
background: #1E2128FF;

} */

.center {
    position: relative;
}

.link {
    text-align: center;
}

.box {
    position: absolute;
    top: 300px;
    left: 35%;
    width: 538px;
    height: 639px;
    background: #FFFFFFFF;
    /* white */
    border-radius: 4px;
    /* border-m */
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
    /* shadow-xs */
    padding: 50px;

}

.check-form {
    top: 329px;
    left: 64px;
    /* Heading */
    font-size: 14px;
    line-height: 22px;
    color: #171A1FFF;
    /* neutral-900 */
}

.line_left {
    position: absolute;
    top: 488px;
    left: 28px;
    width: 219px;
    height: 0px;
    border-width: 1px;
    border-color: #DEE1E6FF;
    /* neutral-300 */
    border-style: solid;
    transform: rotate(0deg);
}

.button-loc {
    position: absolute;
    top: 371px;
    left: 28px;
    width: 482px;
    height: 44px;
}

.account {
    position: absolute;
    top: 435px;
    left: 156px;
    /* Heading */
    font-size: 14px;
    line-height: 22px;
    color: #171A1FFF;
    /* neutral-900 */
}

.or {
    position: absolute;
    top: 477px;
    left: 259px;
    font-family: Open Sans;
    /* Body */
    font-size: 14px;
    line-height: 22px;
    color: #565D6DFF;
    /* neutral-600 */
}

.line_right {
    position: absolute;
    top: 488px;
    left: 291px;
    width: 219px;
    height: 0px;
    border-width: 1px;
    border-color: #DEE1E6FF;
    /* neutral-300 */
    border-style: solid;
    transform: rotate(0deg);
}

.Google {
    position: absolute;
    top: 519px;
    left: 181px;
    width: 48px;
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFFFF;
    /* white */
    background: #C71610FF;
    opacity: 1;
    border: none;
    border-radius: 24px;
    gap: 0px;
}

.btn-primary {
    position: absolute;
    top: 200px;
    left: 2.5px;
    width: 482px;
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    /* Body */
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFFFF;
    /* white */
    background: #262020FF;
    /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 4px;
    /* border-m */
}

.form-group {
    font-size: 14px;
}

.file {
    /* position: absolute; */
    top: 105px;
    left: 435px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFFFF;
    /* white */
    background: #262020FF;
    /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 4px;
    /* border-m */
    gap: 0px;
}

.file .icon {
    width: 16px;
    height: 16px;
    fill: #FFFFFFFF;
    /* white */
}

/* Hover */
.file:hover {
    color: #FFFFFFFF;
    /* white */
    background: #443939FF;
    /* primary-450 */
}

/* Pressed */
.file :hover:active {
    color: #FFFFFFFF;
    /* white */
    background: #615151FF;
    /* primary-400 */
}

/* Disabled */
.file :disabled {
    opacity: 0.4;
}

.form-control {
    background-image: url("/Assets/Button 37.png");
    background-repeat: no-repeat;
    background-position: 100%;
    height: 36px;
    padding: 0 10px;


}

.heading {
    text-align: center;
}

li a:hover {
    background-color: grey;
}

.header {
    background-color: black !important;
}

.text-size {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    background-color: transparent;
    text-decoration: underline;
}


a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    position: absolute;
    top: 1100px;
    left: -600px;
    width: 1660px;
    height: 486px;
    background: #DEE1E6FF;
    /* neutral-300 */
    border-radius: 0px;
}

.footer-logo {
    text-align: left;
    margin-top: 96px;
    left: 153px;
    width: 138px;
    height: 68px;
    font-weight: bold;
    font-family: Montserrat;
    /* Heading */
    font-size: 40px;
    line-height: 56px;
    /* neutral-700 */
}

.footer-Prod {
    text-align: left;
    margin-top: 96px;
    left: 371px;
}

.footer-Res {
    text-align: left;
    margin-top: 120px;
    left: 543px;
}

.footer-Com {
    text-align: left;
    margin-top: 96px;
    left: 735px;
}

.footer-Comp {
    text-align: left;
    margin-top: 96px;
    left: 943px;
}

.footer-Sup {
    text-align: left;
    margin-top: 96px;
    left: 1123px;
}

.footer-text {
    text-align: left;
    font-family: Open Sans;
    /* Body */
    font-size: 16px;
    line-height: 26px;
    color: #171A1FFF;
    /* neutral-900 */
}

.upload-border {
    border: 1px solid black;
    width: 315px;
}

input[type=file]::-webkit-file-upload-button {
    width: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border: 0px;
}

x::-webkit-file-upload-button,
input[type=file]:after {
    content: 'Browse...';
    left: 100%;
    margin-left: 3px;
    position: relative;
    -webkit-appearance: button;
    padding: 3px 8px 2px;
    border: 0px;
}

@media screen and (-width: 576px) {
    .box {
        left: 350px;
    }

    footer {
        width: 1100px;
    }
}

@media screen and (max-width: 768px) {

    footer {
        width: 1150px;

    }
}

@media screen and (max-width: 992px) {
    body {
        width: 1200px;
    }

    footer {
        width: 1440px;
    }
}

@media screen and (max-width: 1200px) {
    .box {
        left: 310px;
    }

    body {
        width: 1100px;
    }

    footer {
        width: 1440px;
    }
}